/* You can add global styles to this file, and also import other style files */
body {
    background-color: #262121;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}